numpy
datetime
pandas
pandasql
matplotlib
plotly==4.2.1
flask
numpy
dash_daq
dash==1.6.1
dash_core_components==1.5.1
dash_html_components==2.0.0
dash_bootstrap_components==0.7.2
dash_table==4.5.1
gunicorn
xlrd
dateparser
Pillow